body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 27px; 
    box-sizing: border-box;
    word-spacing: normal; 
	font-size: 16px; 
    color:rgb(15, 92, 88);
}

div#main{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, auto);
}

header{
    grid-column: 1 / 13;
    grid-row: 1 / 2;
    text-align: center;
    background-color: rgba(95, 102, 101, 0.2);
}
header h1{
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #2c5b70;
    text-shadow: 2px 2px 4px #c0dfed;
    margin-top: 10px;
    margin-bottom: 10px;
}

div#img-div{
    grid-column: 1 / 13;
    grid-row: 2 / 3;
}
 div#img-div figure{
     margin: 0px;
     display: grid;
     grid-template-columns: repeat(12, 1fr);
     grid-template-rows: repeat(2, auto);
 }
figure img{
    width: 100%;
    grid-column: 2 / 12;
    grid-row: 1 / 2;
}
figure figcaption{
    grid-column: 3 / 11;
    grid-row: 2 / 3;
    text-align: center;
}
div#tribute-info{
    grid-column: 2 / 12;
    grid-row: 3 / 4;
    margin-top: 40px;
}
div#tribute-info h2{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
    word-spacing: normal;
    color: #083634;
    padding-bottom: 5px;
    text-shadow: 1px 1px 3px #525966;
    border-bottom: 1px solid rgba(95, 102, 101, 0.7);
}
dt{
    font-size: 20px;
    color: #0f5c58;
    font-weight: bold;
}
dd{
    margin-bottom: 20px;
}
ul{
    list-style-position: inside;
    margin-top: 5px;
    list-style-type: square;
}
li{
    padding-bottom: 10px;
}
li span{
    font-weight: bold;
}
footer{
    grid-column: 1 / 13;
    grid-row: 4 / 5;
    text-align: center;
    font-size: 20px;
    color: black;
    background-color:  rgba(95, 102, 101, 0.2);
    margin-top: 0px;
}
footer p{
    margin-top: 5px;
    margin-bottom: 5px;
}
footer a:link{
    font-weight: bold;
    text-decoration: none;
    color: #0f5c58;
}
footer a:visited{
    color:#0f5c58;
}
footer a:hover{
    color:rgb(7, 49, 47);
}
/* start of tablet site design for heading and footer site */
@media screen and (max-width: 769px){
    figure img{
        grid-column: 1 / 13;
    }
    figure figcaption{
        grid-column: 2 / 12;
    }

}
/* end of tablet site design for heading and footer site */


/* start of mobile site design for heading and footer site */
@media screen and (max-width: 481px){
    figure figcaption{
        grid-column: 1 / 13;
        line-height: normal;
    }
    div#tribute-info{
        margin-top: 20px;
        grid-column: 1 / 13;
    }
    dt{
        padding-left: 5px;
    }
}
/* end of mobile site design for heading and footer site */