body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 27px;
    box-sizing: border-box;
    word-spacing: 3px;
	font-size: 16px; 
}

div#container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, auto);
}
div#header-box{
    grid-column: 1 / 13;
    grid-row: 1 / 2;
}
div.background-pic{
    height: 100vh;
    background: url(https://i.pinimg.com/originals/d4/0c/de/d40cde4e78616ec23d2fe3d3873b9aa3.jpg) no-repeat center center;
    background-size: cover;
}
header{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background: transparent;
}
header.fixedstyle{
    position: fixed;
    background-color: #252b30;
}
div#logo{
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: auto;
    align-content: center;
}
img#header-image{
    width: 100%;
}
nav#nav-bar{
    grid-column: 6 / 13;
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    align-content: center;
}
nav ul{
    list-style-position: inside;
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    margin: 0px;
    padding: 0px;
    font-size: 1.5vw;
    justify-content: space-evenly;
    color: white;
}

ul.nav-ul a{
    text-decoration: none;
    color: white;
}
ul.nav-ul a:hover{
    color:rgba(105, 240, 240, 0.7);
}






div#content{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, auto);
}
h1#main-title{
    grid-column: 1 / 13;
    grid-row: 1 / 2;
    font-family: 'Roboto Slab';
    font-size: 55px;
    font-weight: 350;
    color: white;
    text-shadow: 1px 1px 2px #252b30;
    text-align: center;
    margin-top: 180px;
    margin-bottom: 20px;
}
p#main-headline{
    grid-column: 1 / 13;
    grid-row: 2 / 3;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 200;
    margin-top: 0px; 
    padding-left: 10px;
    padding-right: 10px;
}
form{
    grid-column: 4 / 10;
    grid-row: 3 / 4;
    margin-top: 70px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, auto);
}

form label{
    font-size: 35px;
    color: white;
    text-shadow: 1px 1px 2px #252b30;
    grid-column: 1 / 13;
    line-height: 40px;
    grid-row: 1 / 2;
    margin-bottom: 25px;
}
input#email{
    grid-column: 2 / 9;
    grid-row: 2 / 3;
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 1px #252b30;
    background-color: rgba(105, 240, 240, 0.7);
    font-weight: 200;
    border: 2px solid rgba(105, 240, 240, 0.4);
    border-radius: 5px;
}
input#email::placeholder{
    color: white;
    text-shadow: 1px 1px 1px #252b30;
}
input#email:focus{
    outline: none;
}
input#email:hover{
    background-color: rgba(105, 240, 240, 0.9);
}
input#submit{
    grid-column: 10 / 12;
    grid-row: 2 / 3;
    font-size: 20px;
    color: #d0e5f5;
    text-shadow: 1px 1px 1px #252b30;
    font-weight: 200;
    border: 2px solid rgba(105, 240, 240, 1.0);
    background-color: rgba(105, 240, 240, 0.7);
    border-radius: 5px;
}
input#submit:hover{
    background-color: rgba(105, 240, 240, 0.9);
}

/* start of services content */
div#service{
    grid-column: 1 / 13;
    grid-row: 2 / 3;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(2, auto);
}
h2#service-title{
    grid-column: 1 / 12;
    grid-row: 1 / 2;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Roboto Slab';
    font-size: 40px;
    font-weight: 300;
    color: #191d20;
    text-shadow: 1px 1px 2px #252b30;
}
div#method{
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    text-align: center;
}
div#quality{
    grid-column: 5 / 8;
    grid-row: 2 / 3;
    text-align: center;
}
div#shipment{
    grid-column: 8 / 11;
    grid-row: 2 / 3;
    text-align: center;
}
h4.services-name{
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto Slab';
    color: #191d20;
}
p.services-details{
    font-size: 16px;
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: #252b30;
}

/* start of information content box */
div#information{
    grid-column: 1 / 13;
    grid-row: 3 / 4;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, auto);
}
h2#information-title{
    grid-column: 1 / 13;
    grid-row: 1 / 2;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Roboto Slab';
    font-size: 40px;
    font-weight: 300;
    color: #191d20;
    text-shadow: 1px 1px 2px #252b30;
}
div#video-box{
    grid-column: 1 / 7;
    grid-row: 2 / 3;
}
iframe#video{
    width: 100%;
    height: 100%;
}
div#info-box{
    grid-column: 7 / 13;
    grid-row: 2 / 3;
    background: rgb(105,240,240);
    background: linear-gradient(162deg, rgba(105,240,240,0.9) 48%, rgba(105,240,240,0.5) 71%);
}
div#info-box p{
    font-size: 18px;
    padding: 10%;
    text-align: center;
    color: #252b30;
}
/*start of package content box */
div#package{
    grid-column: 1 / 13;
    grid-row: 4 / 5;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(2, auto);
    margin-top: 100px;
}
h2#package-title{
    grid-column: 1 / 12;
    grid-row: 1 / 2;
    margin-bottom: 50px;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Roboto Slab';
    font-size: 40px;
    font-weight: 300;
    color: #191d20;
    text-shadow: 1px 1px 2px #252b30;
}
div.package-one{
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    margin-right: 20px;
    margin-left: 20px;
    border: 2px solid rgba(105, 240, 240, 1.0);
    background: rgb(105,240,240);
    background: linear-gradient(162deg, rgba(105,240,240,0.9) 48%, rgba(105,240,240,0.5) 71%);
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
}
div.package-two{
    grid-column: 5 / 8;
    grid-row: 2 / 3;
    margin-right: 20px;
    margin-left: 20px;
    border: 2px solid rgba(105, 240, 240, 1.0);
    background: rgb(105,240,240);
    background: linear-gradient(162deg, rgba(105,240,240,0.9) 48%, rgba(105,240,240,0.5) 71%);
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
}
div.package-three{
    grid-column: 8 / 11;
    grid-row: 2 / 3;
    margin-right: 20px;
    margin-left: 20px;
    border: 2px solid rgba(105, 240, 240, 1.0);
    background: rgb(105,240,240);
    background: linear-gradient(162deg, rgba(105,240,240,0.9) 48%, rgba(105,240,240,0.5) 71%);
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
}
h4.small, h4.medium, h4.large{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto Slab';
    color: #191d20;
    text-align: center;
}
ul.package-info-lists{
    margin: 0px;
    padding: 0px;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    list-style-position: inside;
    list-style-type: none;
    text-align: center;
}
ul.package-info-lists li{
    font-size: 16px;
    color: #252b30;
}
.button{
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    font-weight: 200;
    border: 2px solid rgba(105, 240, 240, 1.0);
    background-color: white;
}

div#footer{
    grid-column: 1 / 13;
    grid-row: 5 / 6;
    margin-top: 100px;
    text-align: center;
    color:#d0e5f5;
    background-color: #252b30;
}









/* start of tablet site design for heading and footer site */
@media screen and (max-width: 769px){
    #form{
        grid-column: 2 / 12;
    }
    div#service{
        grid-template-columns: repeat(12, 1fr);
    }
    h2#service-title{
        grid-column: 1 / 13;
    }
    div#method{
        grid-column: 1 / 5;
    }
    div#quality{
        grid-column: 5 / 9;
    }
    div#shipment{
        grid-column: 9 / 13;
    }
    div#information{
        grid-template-rows: repeat(3, auto);
    }
    div#video-box{
        grid-column: 1 / 13;
        grid-row: 2 / 3;
    }
    iframe#video{
        height: 350px;
    }
    div#info-box{
        grid-column: 1 / 13;
        grid-row: 3 / 4;
    }
    div#info-box p{
        padding: 2%;
    }
    div#package{
        grid-template-columns: repeat(12, 1fr);
    }
    h2#package-title{
        line-height: 40px;
        grid-column: 1 / 13;
    }
    div.package-one{
        grid-column: 1 / 5;
    }
    div.package-two{
        grid-column: 5 / 9;
    }
    div.package-three{
        grid-column: 9 / 13;
    }
    .button{
        grid-column: 1 / 4;
        margin-left: 20px;
        margin-right: 20px;
    }
}
/* end of tablet site design for heading and footer site */


/* start of mobile site design for heading and footer site */
@media screen and (max-width: 481px){
    h1#main-title{
        line-height: 50px;
    }
    #form{
        grid-column: 1 / 13;
    }
    div#service{
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(4, auto);
    }
    h2#service-title{
        grid-row: 1 / 2;
        grid-column: 1 / 13;
        line-height: 40px;
    }
    div#method{
        grid-row: 2 / 3;
        grid-column: 1 / 13;
    }
    div#quality{
        grid-row: 3 / 4;
        grid-column: 1 / 13;
    }
    div#shipment{
        grid-row: 4 / 5;
        grid-column: 1 / 13;
    }
    h2#information-title{
        line-height: 40px;
    }
    div#package{
        grid-template-columns: repeat(12, 1fr);   
        grid-template-rows: repeat(4, auto);
    }
    div.package-one{
        grid-column: 1 / 13;
        grid-row: 2 / 3;
        margin-bottom: 20px;
    }
    div.package-two{
        grid-column: 1 / 13;
        grid-row: 3 / 4;
        margin-bottom: 20px;
    }
    div.package-three{
        grid-column: 1 / 13;
        grid-row: 4 / 5;
        margin-bottom: 20px;
    }

}
/* end of mobile site design for heading and footer site */